.blog-main {
  height: 100vh;
  background-color: #EEEEEE;

.blog-post-container {
  margin: 2em auto;
  width: 800px;
  height: 200px;
  border-radius: 5px;
  background-color: #FFFFFF;
  border-style: solid;
  border-color: #454545;
  border-width: 1.5px;

  .blog-post-link {
    color: black;

    h3 {
      padding: 5px;
    }

    .blog-post-date {
      float: right;
      padding: 5px;
      font-size: 20px;
    }

    p {
      padding: 5px;
    }
  }

}

.blog-content {
  width: 800px;
  margin: 2em auto;
  height: 60%;
  border-radius: 5px;

  h1 {
    padding: 10px;
  }

  p {
    padding: 10px;
  }
}

}