.blog-main {
  height: 100%;
  background-color: #FFF;

.blog-post-container {
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  height: 200px;
  color: #454545;
  border-radius: 5px;
  background-color: #FFF;
  border-style: solid;
  border-color: #454545;
  border-width: 1.5px;

  .blog-post-link {
    color: black;

    h3 {
      padding: 15px;
    }

    .blog-post-date {
      float: right;
      padding: 5px;
      font-size: 20px;
    }

    p {
      padding: 15px;
    }
  }

}

.blog-content {
  color: #454545;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  height: 60%;
  border-radius: 5px;

  h1 {
    padding: 10px;
  }

  p {
    padding: 10px;
  }
}

}

.blog-splash {
  background-image: url("../images/blog-bg.jpg");
  background-size: cover;
    // background-size: auto;
    position: relative;
    top: -50px;;
    height: 250px;
    width: 100%;
}