.contact-main {
  background-color: #FFF;
  color: #454545;
}

.contact-body {
  // width: 800px;
  width: 80%;
  margin: 2em auto;
  text-align: center;

  .contact-list {
    list-style-type: none;

    li {
      display: inline;
      padding: 10px;
    }
  }

  img {
    border-radius: 50%;
  }
}