.portfolio {
  height: 100%;
  width: 100%;
  background-color: #FFF;
  // background-color: #000000;
  // background-image: linear-gradient(315deg, #000000 0%, #ffffff 74%);

  .portfolio-splash {
    background-image: url("../images/portfolio-bg.jpg");
    background-size: cover;
    position: relative;
    top: -50px;;
    height: 250px;
    width: 100%;
    background-position-x: -50px;
    
    p {
      position: absolute;
      top: 30%;
      left: 40%;
      color: #232323;
      font-size: 45px;
      font-weight: 600;
    }
  }

  .row {
    // border: solid;
    // border-color: #454545;
    // border-width: 1px;
    // padding: 5px;
  }

  .nav-link {
    color: #454545;
  }

  .nav-link.active {
    background-color: var(--primary);
    color: #EEEEEE;
  }


  .resume {
    color: #454545;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
    // margin-left: 18px; 
    // text-align: left;
  }

  h3 {
    margin: 15px;
  }

  ul {
    list-style: none;
  }

  .list-group-flush {
    .list-group-item {
      background: none;
    }
  }

  .project-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    .projects {

      .project-item {
        text-align: center;
        margin: 50px;

        a {
          margin: 10px;
        }

        p {
          margin: 10px;
        }

        h3 {
          font-size: 30px;
          color: var(--primary);
        }

        .memory-image {
          background-image: url("../images/memory.jpg");
          background-size: cover;
          height: 400px;
          width: 100%;
          border: solid;
          border-color: #454545;
          border-width: 1px;
        }

        .yamovie-image {
          background-image: url("../images/yamovie.jpg");
          background-size: cover;
          height: 400px;
          width: 100%;
          border: solid;
          border-color: #454545;
          border-width: 1px;
        }

        .message-image {
          // background-image: url("../images/yamovie.jpg");
          background-size: cover;
          height: 400px;
          width: 100%;
          border: solid;
          border-color: #454545;
          border-width: 1px;
        }

        .connect-image {
          background-image: url("../images/connectfour.jpg");
          background-size: cover;
          height: 400px;
          width: 100%;
          border: solid;
          border-color: #454545;
          border-width: 1px;
        }

        .wysiwyg-image {
          background-image: url("../images/wysiwyg.jpg");
          background-size: cover;
          height: 400px;
          width: 100%;
          border: solid;
          border-color: #454545;
          border-width: 1px;
        }

        .eqvis-image {
          background-image: url("../images/eqvis.jpg");
          background-size: cover;
          height: 400px;
          width: 100%;
          border: solid;
          border-color: #454545;
          border-width: 1px;
        }

        .coursera-image {
          background-image: url("../images/coursera.jpg");
          background-size: cover;
          height: 400px;
          width: 100%;
          border: solid;
          border-color: #454545;
          border-width: 1px;
        }
      }
    }

  }

}